<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Item Lists</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <!-- Modal Add Cart -->
                    <template>
                        <v-dialog v-model="dialogAddCart" persistent max-width="600px">
                            
                            <v-card>
                                <v-card-title>
                                    <span class="headline">Add Cart</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12">
                                                <v-text-field label="Unit*" v-model="unit" required>
                                                </v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                    <small>*indicates required field</small>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="dialogAddCart = false">Close</v-btn>
                                    <v-btn color="blue darken-1" text @click="addCart">Save</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </template>
					
					<!-- Modal Buy -->
                    <template>
                        <v-dialog v-model="dialogBuy" persistent max-width="600px">
                            
                            <v-card>
                                <v-card-title>
                                    <span class="headline">Add Cart</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12">
                                                <v-text-field label="Unit*" v-model="unit" required>
                                                </v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                    <small>*indicates required field</small>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="dialogBuy = false">Close</v-btn>
                                    <v-btn color="blue darken-1" text @click="addCart">Save</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </template>

                    <template>
						<v-card-title>
							<span class="headline">List Item</span>
						</v-card-title>
                        <v-simple-table>
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th class="text-left">Name</th>
                                        <th class="text-left">Unit</th>
										<th class="text-left">Stock</th>
										<th class="text-left">Price</th>
										<th class="text-left">Pic</th>
                                        <th class="text-left">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in items" :key="item.id">
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.unit }}</td>
										<td>{{ item.stock }}</td>
                                        <td>{{ item.price }}</td>
										<td>{{ item.pic }}</td>
                                        <td>
                                            <v-btn v-if="item.stock > 0" color="info"  depressed small @click="showDialogAddCart(item.id)">
                                                Add Cart
                                            </v-btn>
                                        </td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </template>
					
					
					<!-- modal notif -->
					<template>
						<v-dialog v-model="dialogNotif" persistent max-width="600px">
							<v-card-title>
								<span class="headline">{header_notif}</span>
							</v-card-title>
							<v-card-title>
								<span class="headline">{body_notif}</span>
							</v-card-title>
							<v-spacer></v-spacer>
							<v-btn color="blue darken-1" text @click="dialogBuy = false">Close</v-btn>
							<v-btn color="blue darken-1" text @click="addCart">Save</v-btn>
						</v-dialog>
                    </template>
					
					<template v-if="carts.length > 0">
						<v-card-title>
							<span class="headline">List Cart</span>
						</v-card-title>
                        <v-simple-table>
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th class="text-left">Name</th>
                                        <th class="text-left">Unit</th>
                                        <th class="text-left">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(cart, index) in carts" :key="cart.id">
                                        <td>{{ cart.name }}</td>
                                        <td>{{ cart.unit }}</td>
                                        <td>
											<v-btn  color="info" depressed small @click="removeCart(cart.id)">
                                                Remove Cart
                                            </v-btn>
                                        </td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </template>

                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>

</body>

</html>